@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

/* Shared style */
.text-portion {
  color: #FD6E0A;
}

.dark-2 {
  color: #474747;
}

/* Header */
.header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}


/* Nav Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 200px;
  margin-right: 230px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
}

.btn-primary {
  background-color: #FD6E0A;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 32px;
}

/* Bannar Styles */
.bannar {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}

.bannar-greeting {
  font-size: 45px;
  font-weight: 600;
}

.bannar-title {
  font-size: 82px;
  font-weight: bold;
}

.bannar-profile {
  width: 550px;
}

.bannar-content {
  max-width: 650px;
  height: 356px;
}

.btn-2 {
  margin-left: 30px;
  background-color: white;
  color: #FD6E0A;
  border: 1px solid #FD6E0A;
}

.btn-2:hover {
  box-shadow: 0 0 10px #FD6E0A;

}

.btn-primary:hover {
  box-shadow: 0 0 10px #FD6E0A;
}